@font-face {
    font-family: 'Yeseva One';
    src: local('../fonts/YesevaOne.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaDemiC';
    src: local('../fonts/FuturaDemiC.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaBookC';
    src: local('../fonts/FuturaBookC.woff2') format('woff2');
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('../fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaMediumC';
    src: local('../fonts/FuturaMediumC.woff2') format('woff2');
}






* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

hr {    
    border: 0;
    height: 1.5px;           
}

$default--orange: #E3B873;












header {
    height: 83px;
    width: 100%;
    background-color: #131313;

    padding-left: 5.1%;
    padding-right: 4%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-family: 'FuturaDemiC';
        display: inline;
        font-size: 14px;
        line-height: 16px;
        color: $default--orange;
        text-transform: uppercase;
    }

    p {
        flex-grow: 0.1;
        font-family: 'FuturaDemiC';
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;

        color: $default--orange;
    }

    input {
        height: 37px;
        width: 11.2%;

        font-family: 'FuturaDemiC';
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;

        background-color: $default--orange;
        color: #FFFFFF;
        border: 0;
    }


    .navbar {
        width: 42%;
    }


    .navbar ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        font-family: 'FuturaDemiC';
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;

        &.active {
            color: $default--orange;
        }
    }
}


.first--page {
    width: 100%;
    height: 707px;
    display: flex;

    .instagram {
        height: 100%;
        width: 82px;
        display: inline-block;
        background-color: #131313;

        a {
            margin: 252px 0px 0px -35px;
            display: block;
            height: 82px;
            width: 100%;
            text-decoration: none;
            font-family: 'FuturaDemiC';
            font-size: 14px;
            line-height: 16px;
            color: $default--orange;
            transform: rotate(90deg);
        }

        hr {
            transform: rotate(90deg);
            width: 50px;
            background-color: $default--orange;
            height: 1px;
            border: 0;
            margin: 36px 0px 0px 13px;
        }
    }   

    .interactive--scroll {
        height: 97px;
        width: 17.6%;
        position: absolute;
        top: 741.5px;
        background-color: #131313;


        p {
            text-align: center;
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            margin-top: 37px;

            color: #FFFFFF;
        }
    }

}

.main--first--page {
    height: 100%;
    width: calc(100% - 82px);
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../img/image 4.3.jpg') 100% 100% no-repeat;
    background-size: cover;
    

    h1 {
        margin-top: 155px;
        margin-left: 60px;
        height: 105px;
        width: 40%;

        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;

        color: #FFFFFF;


        span {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            color: $default--orange;
        }
    }

    

    p {
        margin-top: 55px;
        margin-left: 60px;
        width: 35%;
        font-family: 'FuturaBookC';
        font-size: 22px;
        line-height: 30px;

        color: #FFFFFF;
    }
}




.second--block {
    width: 100%;
    height: 1074px;
    background-color: #131313;


}


.you--tube--video {
    width: 56.7%;
    height: 434px;
    position: absolute;
    top: 1647px;
    left: 21.65%;
    background-color: aqua;

}

.request--block {
    width: 100%;
    height: 643px;
    background-color: #FFFFFF;
    hr {
        background-color: $default--orange;
        width: 55px;
        height: 1.5px;
        margin: 279.5px auto 34px;
        border: 0;
    }
  
    p {
        width: 48.5%;
        margin: 0 auto;
        font-family: 'FuturaBookC';
        font-size: 20px;
        line-height: 34px;
        text-align: center;

        color: #363636;
  
    }
    
}

.repair--types {
    width: 100%;
    height: 847px;
    background-color: #FFFFFF;

    .name--with--logo {
        height: 67px;
        width: 18.3%;
        padding-top: 140px;
        margin: 0px auto;

        h3 {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;

            color: #181818;
        }

        img {
            height: 28px;
            width: 28px;
            margin-top: 13px;
            margin-left: calc((100% - 28px) / 2.0 );
        }

        hr {
            position: absolute;
            background-color: $default--orange;
            width: 32px;
        }

        hr.first {
            top: 2981px;
            left: 45.5%;
        }

        hr.second {
            top: 2981px;
            left: 52%;
        }
        
    }


    .three--columns {
        display: flex;
        justify-content: space-between;
        height: 608px;
        margin: 32px auto 0px;
        width: 88.2%;

        .column {
            width: 31.7%;
            height: 100%;
            background-color: #FFFFFF;

            img {
                width: 100%;
                height: 421px;
            }

            .block--list {
                height: 286px;
                width: 84.2%;
                background-color: #FFFFFF;

                position: relative;
                bottom: 130px;
                left: calc( (100% - 84.2% ) / 2.0 );

                h3 {
                    padding-top: 25px;
                    margin-left: 11.3%;
                    margin-bottom: 5px;
                    font-family: 'Yeseva One';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;

                    color: #363636;
                }

                ul {
                    padding-left: 17%;
                }

                ul li {
                    font-family: 'FuturaBookC';
                    font-size: 15px;
                    line-height: 25px;

                    color: #959595;
                }     

            }

            input {
                height: 54px;
                width: 58.1%;

                position: relative;
                bottom: 157px;
                left: calc( (100% - 84.2% ) / 2.0 );

                background-color: $default--orange;
                color: #FFFFFF;
                border: 0;

                font-family: 'Yeseva One';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;

                color: #FFFFFF;
            }
        }
    }
}

.circle--with--form {
    width: 100%;
    height: 1090.4px;
    background-color: #FFFFFF;
}

.fantasy--images {
    width: 100%;
    height: 864px;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('../img/image 5.1.jpg') 100% 100% no-repeat;
    background-size: cover;

    h2 {
        width: 28.5%;
        height: 66px;
        margin-left: 6.9%;
        padding-top: 95px;

        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;    
        color: $default--orange;
    }

    ul {
        display: inline-block;
        margin-top: 50px;
        margin-left: 6.9%;
        list-style-type: none;
    }

    ul li {        
        font-family: 'Proxima Nova';
        font-size: 20px;
        line-height: 34px;
        padding-top: 16px;

        color: #FFFFFF;

        &.selected {
            color: $default--orange;
            border-bottom: 1px solid $default--orange;
            display: inline-block;
        }
    }

    .image--block {
        height: 100%;
        width: 52.2%;
        margin-left: 40%;
        margin-top: -758px;

        img {            
            width: 47%;
            position: relative;            
        }

        img.first {
            height: 566.6px;
            bottom: 42px;
        }

        img.second {
            height: 275px;
            padding-left: 5.3%;
            bottom: 400px;
        }

        img.third {
            height: 349.5px;
            bottom: 288px;
        }

        img.fourth {
            height: 625.2px;
            padding-left: 5.3%;
            bottom: 367px;
        }
    }    
}

.design--project {
    width: 100%;
    height: 622px;
    background-color: #FFFFFF;


}






.steps {
    width: 100%;
    height: 1615.5px;
    background-color: #131313;

}






.clients {
    width: 100%;
    height: 1524px;
    background-color: #FFFFFF;
}






.map {
    width: 100%;
    height: 953.9px;

    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)), url('../img/image 7.2.jpg') 100% 100% no-repeat;
    background-size: cover;
}



footer {
    width: 100%;
    height: 133px;
    background-color: #131313;
    

    h1 {
        font-family: 'FuturaDemiC';
        display: inline;
        font-size: 14px;
        line-height: 16px;
        color: $default--orange;
        text-transform: uppercase;
    }

    p {
        flex-grow: 0.1;
        font-family: 'FuturaDemiC';
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;

        color: $default--orange;
    }

    input {
        height: 37px;
        width: 11.2%;

        font-family: 'FuturaDemiC';
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;

        background-color: $default--orange;
        color: #FFFFFF;
        border: 0;
    }
}
