@font-face {
    font-family: 'Yeseva One';
    src: local('../fonts/YesevaOne.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaDemiC';
    src: local('../fonts/FuturaDemiC.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaBookC';
    src: local('../fonts/FuturaBookC.woff2') format('woff2');
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('../fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaMediumC';
    src: local('../fonts/FuturaMediumC.woff2') format('woff2');
}